/* TODO EL DOCUMENTO*/

* {
    font-family: Raleway, sans-serif;
    text-align: center;
    margin: 0%;
  }
  
  #container {
    display: flex;
    flex-direction: column;
  }
  
  /* HEADER*/
  
  header {
    padding: 20px 15px;
    border-radius: 15px;
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 94, 247, 0.5) 17.8%,
      rgba(2, 245, 255, 0.5) 100.2%
    );
    border: 2px solid black;
    margin: 10px;
  }
  
  /*MAIN*/
  
  main {
    padding: 20px;
  }
  
  textarea[name="user-input"] {
    width: 700px;
    height: 300px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-weight: 600;
    outline: none;
  }
  
  #results {
    margin: 20px 0px;
  }
  
  .liMetrics {
    font-weight: bolder;
    padding: 0 15px;
    display: inline-flex;
  }
  
  .liMetrics::before {
    color: rgb(213, 77, 122);
    content: "|";
    font-weight: bolder;
  }
  
  .liMetrics::after {
    color: rgb(213, 77, 122);
    content: "|";
    font-weight: bolder;
  }
  
  #reset-button {
    background: rgba(255, 94, 247, 0.4);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 1.5rem;
    justify-content: center;
    padding: 15px;
    transition: 0.3s;
    margin: 15px 0px;
    box-shadow: 9px 9px 15px #5a5a5a, -9px -9px 15px #ffffff;
    font-weight: bold;
    border: 2px solid black;
  }
  
  #reset-button:hover {
    background: rgba(2, 245, 255, 0.4);
    box-shadow: 7px 7px 5px #656568, -7px -7px 5px #ffffff;
  }
  
  #reset-button:active {
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 94, 247, 0.6) 17.8%,
      rgba(2, 245, 255, 0.6) 100.2%
    );
    box-shadow: 4px 4px 3px #656568, -7px -7px 5px #ffffff;
  }
  
  /*FOOTER*/
  
  footer {
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 94, 247, 0.2) 17.8%,
      rgba(2, 245, 255, 0.2) 100.2%
    );
    padding: 13px 0px;
    display: inline-flex;
    justify-content: center;
  }

  #logo {
    height: 20px;
    margin: 0px 5px;
  }